body {
    font-family: 'Arimo', sans-serif;
}

ul {
    list-style-type: none;
    margin = 0;
    padding = 0;
}

li {
    display: inline;
}

header {
    display: block;
    float: right;
}

.main {
    clear: left;
    padding-top: 112px;
}

.logo-block {
    height: 231px;
    margin-top: 80px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 269px;
    height: 95px;
}

.search {
    text-align: center;
}

.business-bar {
    float: left;
}

.setting-bar {
    float: right; 
}
